body {
    font-family: Arial, Helvetica, sans-serif;
}

.av_bg-color-black {
    background-color: black;
}

.navbar .navbar-nav li a {
    color: black;
}


.av-bg-full-img {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;

}