/* generics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* bg-color */
.av_bg-color-black {
    background-color: black;
}

.av-bg-full-img {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    min-height: 600px;
    background-position: 50%;
}

.av-bg-full-img-ItTakes {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    min-height: 600px;
    background-position: 50%;
}

.av-bg-color-grey {
    background-color: #1f1f1f;
}

.av-bg-color-lightgrey {
    background-color: #bebcbb;
}

.av-bg-color-darkblue {
    background-color: #161c3b;
}

/* navbar */
.navbar .navbar-nav li a {
    color: black;
}

/* jumbotron */
#jumbotron {
    padding-top: 8.5rem;
}

.jumbotron-content {
    margin-top: 14rem;
}

.jumbotron-content>* {
    margin: 1rem 0;
}

/* itTakesTwo */
#itTakesTwo img {
    width: 50%;
}

/* playstation plus */
#playstationPlus .ps-plus {
    width: 40%;
}


#playstationPlus-content {
    padding-top: 5%;
}

/* sconti */
.sconti-content>* {
    padding: 1rem 0;
}

/* playstation now */
.ps-now {
    width: 40%;
}

#playstation-now-content {
    padding-top: 5%;
}